<!--<div class="main">-->
<!--    <sly data-sly-test.editable="${pageProperties.makeContentManageable}">-->
<!--        <div data-sly-resource="${ 'par' @ resourceType='foundation/components/parsys'}" data-sly-unwrap="${!wcmmode.edit}"></div>-->
<!--    </sly>-->
<!--    <sly data-sly-test="${!editable}">-->
<!--        <div data-sly-resource="${ 'search-bar' @ resourceType='/apps/anchorglobal/components/content/search-bar'}" data-sly-unwrap="${!wcmmode.edit}"></div>-->
<!--        <div data-sly-resource="${ 'idea-generator' @ resourceType='/apps/anchorglobal/components/content/idea-generator'}" data-sly-unwrap="${!wcmmode.edit}"></div>-->
<!--        <div data-sly-resource="${ 'more-ideas' @ resourceType='/apps/anchorglobal/components/content/more-ideas'}" data-sly-unwrap="${!wcmmode.edit}"></div>-->
<!--        <div data-sly-resource="${ 'feature-stories' @ resourceType='/apps/anchorglobal/components/content/featured-stories'}" data-sly-unwrap="${!wcmmode.edit}"></div>-->
<!--    </sly>-->

<!--    <div class="overlay overlay-filter hidden" data-overlay-filter="">-->
<!--        <div class="overlay-content"></div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="bg-wrapper bg-wrapper-v2" data-sly-test="${inheritedPageProperties.designVersion == 'v2'}">-->
<!--    <span class="bg-gradient-bottom" data-image-change="background"-->
<!--          data-image-mobile="/etc/designs/anchorglobal/clientlibs/images/upload/cal-result-grey-bg-1023.png"-->
<!--          data-image-desktop="/etc/designs/anchorglobal/clientlibs/images/upload/cal-result-grey-bg-1920.png">-->
<!--	</span>-->
<!--</div>-->

<!-- about  -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>About <strong class="white black"> Us</strong></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-box">
                    <figure><img src="images/about1.jpg" alt="#" /></figure>
                    <h3> Basic and Tips</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it</p>
                </div>
                <a class="read_more" href="#">Read More</a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-box">
                    <figure><img src="images/about2.jpg" alt="#" /></figure>
                    <h3> Casinos and Chips</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it</p>
                </div>
                <a class="read_more" href="#">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- end abouts -->
<!-- Features -->
<div id="games" class="Features">
    <div class="container">
        <div class="row d_flex">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                <div class="titlepage">
                    <h2>Features<br><strong class="white"> Games</strong></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less </p>
                    <a href="#">View All</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 pa_bottom">
                        <div class="games-box">
                            <figure><img src="images/game1.png" alt="#" /></figure>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 pa_bottom">
                        <div class="games-box">
                            <figure><img src="images/game2.png" alt="#" /></figure>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                        <div class="games-box">
                            <figure><img src="images/game3.png" alt="#" /></figure>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                        <div class="games-box">
                            <figure><img src="images/game4.png" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end Features -->
<!-- We are -->
<div id="Our_Our" class="Our">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="titlepage">
                    <h2>Our <br><strong class="white black"> news</strong></h2>
                </div>
            </div>
            <div class="col-md-10">
                <div class="titlepage">
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="main_slider" class="carousel slide banner-main2" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="first-slide" src="images/banner.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="second-slide" src="images/banner.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="third-slide" src="images/banner.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev"> <i class='fa fa-angle-left'></i></a>
                    <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next"> <i class='fa fa-angle-right'></i></a>
                </div>
                <p class="new_s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less </p>
            </div>
        </div>
    </div>
</div>
<!-- end We are -->
<!-- contact -->
<!-- contact -->
<div id="booknow" class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding-right1">
                <div class="rable-box">
                    <figure>
                        <img src="images/cac.png" alt="#"/>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding-left1">
                <div class="contact">
                    <div class="titlepage">
                        <h2>Book <br><strong class="white "> Now</strong></h2>
                    </div>
                    <form class="book_now">
                        <div class="row">
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Name" type="text" name="Name">
                            </div>
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Phone Number" type="text" name="Phone Number">
                            </div>
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Email" type="text" name="Email">
                            </div>
                            <div class="col-sm-12">
                                <select name="cars">
                                    <option value="volvo" selected> Select Game</option>
                                    <option value="saab">1</option>
                                    <option value="fiat" >2</option>
                                    <option value="audi">3</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <button class="send">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end contact -->
<!-- end clients -->
<!-- map -->
<div class="map">
    <figure><img src="images/map.jpg" alt="#"/></figure>
</div>
<!-- end map -->
