<header>
	<!-- header inner -->
	<div class="header-top">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo">
									<a href="index.html"><img src="images/logo.png" alt="#" /></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
						<div class="menu-area">
							<div class="limit-box">
								<nav class="main-menu">
									<ul class="menu-area-main">
										<li class="active"> <a href="index.html">Home</a> </li>
										<li> <a href="#about">About</a> </li>
										<li> <a href="#games">Games</a> </li>
										<li> <a href="#Our_Our">Our News</a> </li>
										<li> <a href="#booknow">Contact us</a> </li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end header inner -->
		<!-- end header -->
		<section class="slider_section">
			<div id="myCarousel" class="carousel slide banner_main" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">

						<div class="container">
							<div class="carousel-caption">
								<div class="row d_flex">
									<div class="col-md-4">
										<div class="text-bg">
											<h1>Online casino </h1>
											<a href="#">Play now</a>
										</div>
									</div>
									<div class="col-md-8">
										<div class="text-img">
											<figure><img src="images/img.png" /></figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">

						<div class="container">
							<div class="carousel-caption">
								<div class="row d_flex">
									<div class="col-md-4">
										<div class="text-bg">
											<h1>Online casino </h1>
											<a href="#">Play now</a>
										</div>
									</div>
									<div class="col-md-8">
										<div class="text-img">
											<figure><img src="images/img.png" /></figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">

						<div class="container">
							<div class="carousel-caption">
								<div class="row d_flex">
									<div class="col-md-4">
										<div class="text-bg">
											<h1>Online casino </h1>
											<a href="#">Play now</a>
										</div>
									</div>
									<div class="col-md-8">
										<div class="text-img">
											<figure><img src="images/img.png" /></figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

		</section>
	</div>
</header>

<!--<header data-navigation data-scroll-header  data-main-menu-text="${inheritedPageProperties.mobileMainNavMainMenuTextLabel}" class="hidden-print">-->
<!--	<sly data-sly-resource="${@ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap/>-->
<!--	<div data-sly-resource="${@path='main-navigation', resourceType='/apps/anchorglobal/components/content/mainNavigation'}" data-sly-unwrap="${!wcmmode.edit}"></div>-->
<!--</header>-->


